.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.select-filter {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  margin: 5px 5px 0;
}

.buttonsFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-sort {
  cursor: pointer;
  margin: 5px 5px 0;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

.btn-sort:hover {
  background-color: #e0e0e0;
}
