.nav {
  margin: 0;
}
.navList {
  list-style: none;
  padding: 2rem;
  display: flex;
  margin: 0;
}

.navList li {
  margin-right: 20px;
  cursor: pointer;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.showOpen {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 200;
  background: #212121;
  color: white;
  top: 0;
  left: 0;
}

.showList{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: nowrap;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
  /* Muestra el botón de hamburguesa en pantallas pequeñas */
  .nav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .burger {
    display: block;
  }

  /* Oculta el menú normal en pantallas pequeñas */
  .navList {
    display: none;
  }

  /* Muestra el menú de hamburguesa cuando está activo */
  .hideMenu .navList {
    display: block;
    list-style: none;
    padding: 0;
  }
}
