.container {
  padding: 2rem 0;
}
.info {
  display: flex;
  width: 50%;
  justify-content: space-between;
  background: gainsboro;
}
.name {
  width: 100%;
  text-wrap: nowrap;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 950px) {
  .info {
    width: 75%;
  }
}

@media screen and (max-width: 550px) {
  .buttons {
    padding-right: 0;
  }
  .name {
    padding: 10px 2px;
  }
  .container{
    padding: 2rem 0.5rem;
  
  }
}
