.container{
    padding: 2rem 0;
}
.info {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .name {
    width: 100%;
    text-wrap: nowrap;
  text-align: center;
  padding: 10px
  }